{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="site-section-cover overlay" style="background-image: url('/static/images/hero_bg.jpg');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 text-center">
        <h1>The <strong>Ali Dehkhodaei</strong></h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section bg-light pb-0">
  <div class="container">
    <div class="row align-items-stretch overlap">
      <div class="col-lg-8">
        <div class="box h-100">
          <!-- future comming post -->
          <div class="d-flex align-items-center">
            {% if future != None %}
              {% for item in future %}
            <div class="img"><img src="{{item.image.url}}" class="img-fluid" alt="Image"></div>
            <div class="text">
              <p style="font-size: large;">Comming Soon...</p>
              <h3>{{item.title|safe}}</h3>
              <p class="meta">
                <span class="mr-2 mb-2">{{item.content|truncatewords:10}}</span>
                <hr>
                {% for c in item.category.all %}
                <span class="mr-2 mb-2">{{c}}</span>
                {% endfor %}
                <hr>
                <span class="mr-2 mb-2">{{item.published_date|naturaltime}}</span>
              </p>
              {% endfor %}
            {% else %}
            <div class="img"><img src="{% static 'images/img_1.jpg' %}" class="img-fluid" alt="Image"></div>
            <div class="text">
              <p style="font-size: large;">Sorry There's No New Posts in Queue :(<hr>But You Can See Our Published</p>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- today time and date -->
      <div class="box small h-150" style="text-align: center;">
        <span style="font-size: xx-large;">Today</span>
        <hr>
        <h2 style="color: #0779e4;">{% now "l" %}</h2>
        <h2>{% now "j" %}</h2>
        <h2 style="color: #0779e4">{% now "F" %}</h2>
        <h2>{% now "Y" %}</h2>
      </div>

    </div>
  </div>
</div>

<div class="site-section bg-light">
  <div class="container">

    <!-- search field -->
    {% include 'website/search.html' %}

    </div>
    <!-- Latest Posts From Blog -->
    <div class="row">
      <div class="col-12" style="display:inline-flex; justify-content: space-between;">
        <div class="heading mb-4" style="display:inline-flex; float: right;">
          <span class="caption">Popular</span>
          <h2>Posts</h2>
        </div>
        <div class="heading mb-4" style="display:inline-flex; float: left;">
          <span class="caption">Latest</span>
          <h2>Posts</h2>
        </div>

      </div>

      <!-- popular posts -->
      <div class="col-lg-8">
        {% for post in fave_posts %}
        <div class="d-flex tutorial-item mb-4">
          <div class="img-wrap">
            <a href="{% url 'blog:single' pid=post.id %}"><img src="{{post.image.url}}" alt="Image"
                class="img-fluid"></a>
          </div>
          <div>
            <h3><a href="{% url 'blog:single' pid=post.id %}">{{post.title|safe}}</a></h3>
            <p>{{post.content|truncatewords:50}}</p>
            <hr>
            <p class="meta">
              <span class="mr-2 mb-2">{{post.published_date|naturalday}}</span>
            </p>
            <p><a href="{% url 'blog:single' pid=post.id %}" class="btn btn-primary custom-btn">View</a></p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- latest posts -->
      <div class="col-lg-4">
        {% for post in posts %}
        <div class="box-side mb-3" style="width: 100%; height: 332px;">
          <a href="{% url 'blog:single' pid=post.id %}"><img src="{{post.image.url}}" alt="Image" class="center"
              style="width: 100%; height: 200px;"></a>
          <h3><a href="{% url 'blog:single' pid=post.id %}" style="font-size: 16px;">{{post.title|safe}}</a></h3>
          <p>{{post.published_date|naturaltime}}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- categories -->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="heading mb-4">
              <span class="caption">Categories</span>
              <h2>Choose Category</h2>
            </div>
          </div>
        </div>
        <div class="row align-items-stretch">
          {% for cat in category %}
          <div class="col-lg-2" style="background-color: #0779e4;padding: 10px; border-radius: 10px;">
            <a href="{% url 'blog:category' cat_name=cat.name %}" class="course">
              <hr><h3>{{cat.name}}</h3><hr>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- share icons -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6 text-lg-right">
        <div class="d-inline-flex align-items-center ml-auto">
          <span class="mr-4">Share:</span>
          <a href="#" class="mx-2 social-item"><span class="icon-facebook"></span></a>
          <a href="#" class="mx-2 social-item"><span class="icon-twitter"></span></a>
          <a href="#" class="mx-2 social-item"><span class="icon-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- latest comments -->
<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center mb-5">
        <div class="heading">
          <span class="caption">Users Recent</span>
          <h2>Comments</h2>
        </div>
      </div>
    </div>
    <div class="row">
    {% if comments|length == 0 %}
      <p>There Is No Comments Yet !</p>
    {% else %}
      {% for comment in comments %}
      <div class="col-lg-4 mb-4 mb-lg-0" style="height: 300px;">
        <div class="testimonial-2">
          <a href="{% url 'blog:single' pid=comment.post.id %}"><h3 class="h5" style="font-size:medium;">{{comment.post.title}}</h3></a>
          <div>
            <span class="icon-star text-warning"></span>
            <span class="icon-star text-warning"></span>
            <span class="icon-star text-warning"></span>
            <span class="icon-star text-warning"></span>
            <span class="icon-star-o text-warning"></span>
          </div>
          <blockquote class="mb-4">
            <p>{{comment.message|truncatewords:30}}</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">{{comment.name}}</span>
              <span>{{comment.created_date|naturaltime}}</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}