{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
{% load humanize %}

<div class="site-section-cover overlay" style="background-image: url('/static/images/hero_bg.jpg');">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-10 text-center">
              <h1><strong>Blog</strong></h1>
              <p><strong><a href="{% url 'website:home' %}">Home</a> / Blog</strong></p>
              <p>Published Posts: {% totalposts %}</p>
          </div>
      </div>
  </div>
</div>
<div class="site-section bg-light">
  <div class="container">
    <div class="row">

      {% for post in posts %}

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="post-entry-1 h-100">
          <a href="{% url 'blog:single' pid=post.id %}" class="thumbnail-link">
            <img src="{{post.image.url}}" alt="picture" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <h2 style="font-size: large;"><a href="{% url 'blog:single' pid=post.id %}">{{post.title|truncatewords:5|safe}}</a></h2><hr>
            <p>{{post.content|truncatewords:40}}</p><hr>
            <span class="meta d-inline-block mb-3">{{post.published_date|naturalday}}<span class="mx-2">by</span> <a
                href="#">{{post.author}}</a></span>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    <!-- pagination section -->
    <div class="row">
      <div class="col-5">
        <div class="custom-pagination">
        
          {% if posts.has_previous %}
          <a href="?page=1"> << </a>
          <a href="?page={{posts.previous_page_number}}"> < </a>
          <a href="?page={{posts.previous_page_number}}">{{posts.previous_page_number}}</a>
          {% endif %}

          {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
            <span>{{i}}</span>
            {% endif %}
          {% endfor %}

          {% if posts.has_next %}
          <a href="?page={{posts.next_page_number}}">{{posts.next_page_number}}</a>
          <a href="?page={{posts.next_page_number}}"> > </a>
          <a href="?page={{posts.paginator.num_pages}}"> >> </a>
          {% endif %}
          
        </div>
     
      </div>
    </div>
  </div>
</div>
{% endblock %}